.contact {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 20px auto 10px;
  padding: 20px;
  background-color: #fff;
  color: #000;

  .contact-info {
    padding: 40px;

    h2 {
      margin-bottom: 50px;
    }

    p {
      width: 80%;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      display: flex;
      padding-left: 0;
      // justify-content: center;

      li {
        margin-top: 20px;
        padding: 5px;
        margin-right: 30px;

        a {
          text-decoration: none;
          color: #333;

          .social-icon {
            display: block;
            width: calc(1rem + 1.5vw);
            height: calc(1rem + 1.5vw);
            margin-right: 5px;
            transition: .2s;
          }

          .gmail {
            &:hover {
              color: #c71610;
            }
          }

          .linkedin {
            &:hover {
              color: #0077b5;
            }
          }

          .github {
            &:hover {
              color: #8d6cab;
            }
          }
        }


      }
    }
  }

  .form {
    padding: 40px;
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}