.menu {
  border-bottom: 1px solid #6c757d;

  .toggler {
    color: transparent;
    border: none;
  }


  .nav-link {
    color: #bbb;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: .8rem !important;
    padding-right: .8rem !important;

    &:hover {
      color: #fff;
    }
  }


  .socials {

    @media screen and (max-width: 768px) {
      margin-right: 20px;
    }
  }
}