.menu {
  border-bottom: 1px solid #6c757d;
  padding: 0 20px;

  .name {
    font-size: 1.5rem;
  }

  .toggler {
    color: transparent;
    border: none;
  }


  .link {
    color: #bbb;

    &:hover {
      color: #fff;
    }
  }

  .socials {

    .social-link {
      color: #bbb;

      &:hover {
        color: #fff;
      }

      @media screen and (max-width: 768px) {
        margin-right: 20px;
      }
    }
  }
}