.profile {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  // background-color: #212529;

  .profile-head {
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    height: calc(1.5rem + 20vw);
    background-image: url('../img/lines-gef73024fb_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    overflow: hidden;

    h1 {
      line-height: calc(1.5rem + 20vw);
      font-size: calc(1.6rem + 3.3vw);

      @media screen and (max-width: 380px) {
        font-size: calc(1rem + 3.3vw);
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .about-me {
    width: 60%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;

    .personal-section {
      font-size: 1.2rem;
      padding: 10px;
    }
  }

  .cv {
    border: 2px solid #111;
    transition: .2s;

    &:hover {
      border-color: #fff;
    }
  }
}