.projects {
  min-height: 600px;
  text-align: center;
  padding: 20px 0;

  h2 {
    margin-top: 20px;
  }

  .carousel {


    .project-card {
      display: flex;
      margin: 20px auto;
      width: 95%;
      min-height: 600px;
      background-color: #eee;

      .img-container {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 10px;


        @media screen and (max-width: 980px) {
          height: 45%;
          width: 100%;
          padding: 0;
        }
      }

      .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        color: #000;
        padding: 20px;

        h2 {
          margin-top: 10px;
        }

        p {
          text-align: center;
          font-size: 1.2rem;
          width: 80%;
        }

        .buttons {
          .button {
            margin: 5px 10px;
          }
        }

        .tech-container {
          margin-top: 10px;
          text-align: center;

          .technologies {
            display: flex;
            justify-content: center;

            .tech-icon {
              font-size: 1.5rem;
              margin: 5px;
            }
          }
        }

        @media screen and (max-width: 980px) {
          padding: 5px;
          height: 45%;
          width: 100%;
        }
      }

      @media screen and (max-width: 980px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
      }
    }
  }
}