.projects {

  .carousel {
    height: 650px;

    .carousel-item {
      height: 650px;

      .project-card {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: #eee;

        .img-container {
          display: flex;
          align-items: center;
          width: 50%;
          height: 90%;

          .card-img {
            height: 100%;

            @media screen and (max-width: 768px) {
              // margin: 0 auto;
              // height: 95%;
              // width: 95%;
            }
          }

          @media screen and (max-width: 992px) {
            height: 60%;
          }

          @media screen and (max-width: 768px) {
            height: 45%;
            width: 90%;
          }

          @media screen and (max-width: 576px) {
            height: 40%;
            // width: 90%;
          }
        }

        .card-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 50%;
          height: 90%;
          color: #000;
          // padding: 20px;

          h2 {
            margin-top: 10px;
          }

          p {
            text-align: center;
            font-size: 1.2rem;
            width: 80%;
          }

          .buttons {
            .button {
              margin: 5px 10px;
            }
          }

          .tech-container {
            // margin-top: 10px;
            text-align: center;

            .technologies {
              display: flex;
              justify-content: center;

              .tech-icon {
                font-size: 1.5rem;
                margin: 5px;
              }
            }
          }

          @media screen and (max-width: 768px) {
            height: 50%;
            width: 100%;
          }
        }

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
          height: 100%;
        }
      }

      @media screen and (max-width: 768px) {
        height: 750px;
      }

      @media screen and (max-width: 576px) {
        height: 900px;
      }

    }

    @media screen and (max-width: 768px) {
      height: 750px;
    }

    @media screen and (max-width: 576px) {
      height: 900px;
    }
  }
}