.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;

  h2 {
    text-transform: uppercase;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .service-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 24%;
      background-color: #eee;
      border: 4px outset #000;


      .service-icon {
        width: 80%;
        height: 80%;
      }

      .service-title {
        color: #000;
        width: 100%;
        text-align: center;
      }

      @media screen and (max-width: 769px) {
        width: 49%;
      }

      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}