.welcome-page {

  .text-container {
    display: flex;
    align-items: center;

    .welcome-text {
      font-size: calc(1.6rem + 2.5vw);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: calc(1.2rem + 1.5vw);
      }

      @media screen and (max-width: 576px) {
        font-size: calc(.8rem + 1.2vw);
      }
    }
  }

  .welcome-img {
    position: relative;
    display: flex;
    align-items: center;

  }
}